name: Deploy VS Code Extension

on:
  push:
    tags:
      - 'v*' # Run on version tags
  workflow_dispatch: # Allow manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        registry-url: 'https://registry.npmjs.org'
        
    - name: Install dependencies
      run: npm ci
      
    - name: Lint
      run: npm run lint
      continue-on-error: true
      
    - name: Build
      run: npm run build
      
    - name: Test
      run: npm test
      continue-on-error: true
      
    - name: Package Extension
      run: npm run package
      
    - name: Publish to VS Code Marketplace
      if: success() && startsWith(github.ref, 'refs/tags/')
      run: npx vsce publish -p ${{ secrets.VSCE_PAT }}
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
        
    - name: Upload Extension Package
      uses: actions/upload-artifact@v3
      with:
        name: extension-package
        path: "*.vsix"
        
    - name: Create GitHub Release
      if: success() && startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: "*.vsix"
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
